<!-- <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <figure><img src="" alt="" class="img-thumbnail"></figure>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>Some Links</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div> -->


    <div class="header2" id="about">
            <div class="container">
                <div class="header-image">
                    <figure>
                        <img class="header-image2" src="img/dog.jpg" alt="Logo">
                    </figure>
                </div>
                <div class="header-info">
                    <div class="surtitle">
                        <em>Adopt a Shiba Inu!</em>
                    </div>
                    <h1 class="title">What You Should Know Before Buying a Shiba Inu</h1>
                     <h3 class="subtitle">
                           Josh's House is a small hobby kennel owned by me, Josh Paige. I have been raising pure bred dogs for over 2 years.  If you're thinking of buying a puppy, first know that:
                     </h3>
                     <ul>
                            <li>My dogs are all AKC-Registered puppies</li>
                            <li>I let you know who the puppy's parents are</li>
                            <li>The kennel is actually just my apartment</li>
                        </ul> 
                     <p class="intro"><div class="surtitle">Facts About Shiba Inus</div>
                        <br>
                        The Shiba was originally developed as a hunting dog in Japan's mountain areas, and was the smallest of native Japanese dog breeds.  Shibas make an excellent watchdog and great companion.<br>
                        <br>
                        Shibas should be brushed regularly and bathed only when necessary, as they have a naturally water-proof coat. They need plenty of exercise such as daily walks or plenty of space to run.<br>
                        <br>
                        Shiba Inus are very intelligent, and may become easily bored.  For this reason, you should walk them daily, or give them things to do that will keep them occupied.<br>         
                    
                     <button class="btn" type="button"><a href="#purchase">I Want One!</a></button>
                </div>
            </div>
        </div>
        
        <!-- <div class="description">
            <div class="container">
            Are you thinking about buying a Shiba Inu puppy? Then you're in the right place. Josh's House has lovingly raised pure-bred dogs for over 2 years. I think the AKC knows that I have dogs, so you can bet they're registered!
            </div>
            <br><div class="container">
            I am <em>NOT</em> a Pet Store. Here's why that matters:
            </div>
            
            <br><div class="container">My puppies are easier to housebreak. My little dogs have been exposed to different settings. They've been shown my bathroom, my kitchen, the backyard, and even the neighbor's cat!</div>
            </div>
        
        <div class="facts">
            <div class="container">
                <div class="facts-text">
                    <div class="surtitle">Why a Shiba Inu is a Great Pet:</div><br>
                    <ul class="fact">
                        <li>They make loving companions</li>
                        <li>Walking them means you get in better shape</li>
                        <li>They're very quiet, except when they scream at you for not taking them for those walks</li>
                        <li>They help you be more popular. People will say, "Hey! I thought they were bigger."</li>
                    </ul>
                    <p class="fact">My Shiba Inu puppies are priced to move starting at $800 for full "registration" and pick up. We pay for most of the shots your puppy will need.</p>
                    
                </div>
                <div class="facts-image">
                    <img class="image" src="img/shibas.webp" alt="silly baby">
                </div>
            </div>
        </div>
        
        <div class="container">
            <h2 class="puppy-versions-title">Adopt the one that is right for you!</h2>
        </div>
        <div class="puppy-versions" id="purchase">
            <div class="container">
                <div class="puppy-version">
                    <h3 class="version-title">Tan</h3>
                    <h4 class="version-price version-price-featured">$800</h4>
                    <div class="version-item">
                        Male 
                    </div>
                    <div class="version-item">
                        8-weeks old
                    </div>
                    <div class="version-item">
                        Free registration
                    </div>
                    <div class="version-item">
                        <img class="image" src="./pages/home/img/tan.jpg" alt="Tan puppy">
                    </div>
                    <div class="version-item">
                            <a href="purchase.html" class="btn" type="button">Adopt Now!</a>
                    </div>
                </div>
                <div class="puppy-version">
                    <h3 class="version-title">Tri-color</h3>
                    <h4 class="version-price version-price-featured">$900</h4>
                    <div class="version-item">
                        Female
                    </div>
                    <div class="version-item">
                        6 weeks-old
                    </div>
                    <div class="version-item">
                        Free registration
                    </div>
                    <div class="version-item">
                        <img class ="image" src="img/tri.jpg" alt="Tri-color Shiba Puppy">
                    </div>
                    <div class="version-item">
                            <a href="purchase.html" class="btn" type="button">Adopt Now!</a>
                    </div>
                </div>
        
                <div class="puppy-version">
                    <h3 class="version-title">Sesame</h3>
                    <h4 class="version-price version-price-featured">$1000</h4>
                    <div class="version-item">
                        Female
                    </div>
                    <div class="version-item">
                        6 weeks-old
                    </div>
                    <div class="version-item">
                        Free Registration
                    </div>
                    <div class="version-item">
                        <img class="image" src="img/sesame.jpg" alt="Sesame Puppy">
                    </div>
                    <div class="version-item">
                            <a href="purchase.html" class="btn" type="button">Adopt Now!</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="social">
            <div>
                Follow me on Social Media:
            </div>
            <div class="social-links">
                <a href="https://facebook.com" class="social-link"><img src="img/facebook.png" alt="Facebook icon"></a>
                <a href="https://twitter.com/joshlpaige" class="social-link"><img src="img/twitter.png" alt="Twitter icon"></a>
                <a href="https://instagram.com" class="social-link"><img src="img/insta.png" alt="Instagram icon"></a>
            </div>
        </div>
        
        <div class="footer">
            <div class="footer-links">
                <a href="#about" class="footer-link">About</a>
                <a href="contact.html" class="footer-link">Contact</a>
                <a href="#foot" class="footer-link">Privacy</a>
            </div>
            <div class="copyright" id="foot">
                Copyright 2020 Josh's House
            </div>
        </div> -->


